<%- include("header.ejs") %> 
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Uh Oh!</h1>
    <p class="lead">Looks like something went wrong</p>
    <form action="/failure" method="POST">
        <button type="submit" class="btn btn-warning">Home</button>
    </form>
</div>
<%- include("footer.ejs") %> 